/* 🔵 ======================================== 🔷
# 🔵  web: industriasvipe.com  🌐 vipescri.com  🔷
# 🔵  Empresa: Industrias de Software Vipescri  🔷
# 🔵  AUTORES: VILLALBA Raul Orlando y familia  🔷
#  🔵 ======================================== 🔷 
#️⃣ #idNombre esta es unica
⚪ .clase    esta se puede repetir
*/
/* todo ******* Reset CSS ******** */
:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;  /* --yellow-color: #F7DF1E; */
    --second-color: #222;   /* --dark-color: #222; */
    --main-modal-color: rgba(247,222,30,0.85);
    --second-modal-color: rgba(34,34,34,0.85);
    --bronze-color: #b4a111;
    --container-width: 1200px;
}

html {
    /* ! content box 
    se refiere al área que ocupa el contenido del elemento, y 
    ! border box 
    se refiere al tamaño completo del elemento, incluyendo su padding y borde. */
    box-sizing: border-box;         /* (tamaño de caja) */
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smmooth;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    /* padding: 0; */
}

img {
    max-width: 100%;
    height: auto;
    /* border: 0; */
}

/* todo: ============= Cabeza ============ */

.header {
    top: 0;
    position: sticky;
    padding: 1rem; /*.7rem; */
    background-color: var(--bronze-color);
    color: var(--second-color);
    z-index: 997;
}

h1 {
    margin: 0 auto;
    text-align: center;
    
    background-color: darkslateblue;
    color: rgb(255, 217, 0);
    /* height: 50px; */
}

/* todo ******* Menu-hamburguesa ******** */
.section {
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}

.panel {
    position: fixed;
    z-index: 998;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 393px;
    overflow-y: auto;

    background-color: var(--bronze-color); 
    /* ! no van opacity: 0; */
    /* ! no van visibility: hidden; */
    /* transition: transform 0.3s cubic; */
    transition: transform 0.3s ease;
    /* de ariba */
    /* transform: translate(0,-100%); */
    /* de abajo */
    /* transform: translate(0,100%); */
    /* de derecha */
    /* transform: translate(100%,0); */
    /* de izquierda */
    transform: translate(-100%,0);
}

.panel.is-active {
    transform: translate(0, 0);
}

.panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: var(--bronze-color); 
    /* border-color: rgb(44, 36, 2); */
}

.panel-btn:hover {
    background-color: var(--second-color);
    /* color: var(--main-color); */
}

.control-audio {
    position: absolute;
    height: 77px;
    background-color: #f7df1e;
    z-index: -1;
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}

.menu a {
    padding: 0.8rem;
    width: inherit;
    display: block;
    font-size: 1.3rem;
    text-decoration: none;
    color: darkslateblue;
    transition: all 0.3s ease;
}

.menu a:hover,
.menu a.active {
    font-weight: bold;
    color: red;
    background-color: var(--main-modal-color);
}

.resultado {
    background-color: #f2f2f2;;
    color:coral; 
    font: 16px Verdana;
    margin-left: 20px;
    display: inline-block;
    padding: 2px 11px 2px 11px;
}

/* todo ******* Eventos del teclado ******** */

.stage {
    display: flex;
    min-height: 50vh;
    background-color: var(--second-color);
}

.ball {
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--bronze-color);
    padding: 20px;
}
    /* padding: 40px 0 0 0;  /* abajo */
    /* padding: 0; /* arriba */
    /* padding: 20px 30px 0 0;  /* izq */
    /* padding: 20px 0 0 30px; /* der */

/* todo ******* Scroll Top Button  ******** */

.scroll-top-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(4.25rem + 1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--bronze-color);
    /* color: var(--second-color); */
    cursor: pointer;
    outline: 0;
    border: 0;
}

.scroll-top-btn:hover {
    background-color: var(--second-color);
    /* color: var(--main-color); */
}

.hidden {
    visibility: hidden;
    opacity: 0;
}
/* todo ******* fondo-claro/oscuro-btn ******** */

.dark-theme-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    background-color: var(--second-color);
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.3s ease-out;
}
/*
.dark-theme-btn:hover {
    background-color: var(--bronze-color);
} */

.dark-mode {
    background-color: var(--second-color);
    color: var(--main-color);
}

/* light-background este va ha estar fijo */
.fondo-claro-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    background-color: var(--bronze-color);

    cursor: pointer;
}

.fondo-claro-btn:hover {
    background-color: var(--second-color);
}

/* dark-theme */
.fondo-dark-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: calc(4rem);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    background-color: var(--bronze-color);
    /* color: var(--second-color); */
    cursor: pointer;
}

.fondo-dark-btn:hover {
    background-color: wheat;
}

.hidden2 {
    visibility: hidden;
    opacity: 0;
}

/* todo ******* Responsive  ******** */

.etiqueta {
    clear: left;
    display: inline-block;
    /* display: flex; */
    /* width: fit-content; */
    width: 77px;
}

.input-url {
    background-color: rgb(189, 178, 165);
    width: 400px;
    /* display: block; */
}

.input-nro {
    background-color: antiquewhite;
    width: 50px;
}

label {
    margin-left: 20px;
}

.boton {
    border-radius: 10px;
    box-shadow: inset 0 0 10px #1D64A6;
    height: 2rem;
}

.boton:hover {
    background-color: #b4a111;
    cursor: pointer;
}

/* todo ******* Network Status ******** */

.online,
.offline {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #1b5e20;
    color: #fff;
}

.offline {
    background-color: #b71c1c;
}

/* todo ******* search filter figuras  ******** */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    /* border: thin solid rgb(10, 24, 100);
    background-color: var(--bronze-color);
    height: 77vh; */
}

.card {
    background-color: rgb(65, 17, 17); 
    color: var(--main-color);
    transition: all 0.3s ease-out;
} 

.card img {
    margin-top: 10px;
    width: 90%;
    height: auto;
}

.card figcaption {
    padding: 2px;
}

.rotate-22 {
    transform: rotate(-22deg);
    /* margin-top: -25px; */
}

.rotate-33 {
    transform: rotate(-33deg);
}

.filter {
    /* display: none; */
    transform: rotate(-22deg);
    opacity: 0.2;
    /* rellena los vacios
    order: 1; */
}

.elegido {
    background-color: rgb(238, 255, 0); 
    font-size: 22px;
}

.elegido::after {
    color: blue;
    font-size: 14px;
    content: " 💫 (es el ganador)";
}

.elegido::before {
    content: "🔳 ";
}

/* todo ******* sombras y agrandar/achicar corazon ******** */

.cat {
    /* podemos mejorar usando la propiedad filter */
    filter: drop-shadow(10px 10px 5px #000);
}

.sinSombras {
    box-shadow: 10px 10px 5px #000;
}

.boton-sale {
    background-color: #f7df1e;
    height: 15vh;
    width: 50%;
    left: 25%;
    /* padding: 20px 0 20px 50%; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-like {
    width: 30px;
}

.boton-like:hover  {
    width: 50px;
}

/* todo ******* Responsive Slider  ******** */

.slider {
    position: relative;
    width: 80%;
    /* margin: 1rem auto; */
    text-align: center;
    border: thick solid #b4a111;
}

.slider-slides { 
    position: relative;
    background-color: #eee286;
    height: 474px;
    width: 100%;
}

.slider-slide {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.slider-slide.active {
    opacity: 1;
    visibility: visible;
}

.slider-slide img {
/* .slider img { */
    height: inherit; 
    width: inherit;
    /* todo object-fit indica cómo el contenido de un elemento reemplazado, por ejemplo un <img> o <video> , debería redimensionarse para ajustarse a su contenedor.
    ? se adapta a la altura 
    ! object-fit: contain; */
    /* todo  El valor cover tiene el mismo comportamiento que al usar la propiedad background-size con el valor cover; el contenido se dimensionado para llenar por completo su cuadro y se mantiene la relación de aspecto, pero se realizan recortes en los bordes del contenido para ajustar el mismo. */
    object-fit: cover;
    object-position: 50% 50%;
}

.prev {    
    /* border-radius: 50%; */
    padding: 10px 5px;
    border: thin solid var(--main-modal-color);
    background-color: transparent;
    transition: all 0.3S ease;
}

.next {    
    border-radius: 50%;
    padding: 10px 5px;
    border: thin solid var(--main-modal-color);
    background-color: #88a61d;
    transition: all 0.3S ease;
}

.slider-btn {
    display: block;
    width: 3rem;
    height: 3.5rem;
    
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    /* espacxios sobrantes lo reparte */
    justify-content: space-between;
}

.prev:hover {
    background-color: var(--main-modal-color);
    width: 35px;
}

.next:hover {
    background-color: var(--main-modal-color);
    width: 35px;
}

/* todo ******* ScrollSpy  ********  version movil */

@media screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
        grid-template-areas: 
            "header header"
            "main   panel";
    } 

    main {
        grid-area: main;
        /* background-color:aquamarine; */
    }

    .header {
        grid-area: header;
    }

    .panel {
        grid-area: panel;
        top: 4rem;
        position: sticky;
        width: 16rem;
        
        align-self: start;
        justify-content: flex-start;
        background-color:var(--second-color) ;
        transform: translate(0,0);
        opacity: 1;
        visibility: visible;
    }
    
    .panel-btn {
        display: none;
        z-index: 998;
    }

    .menu {
        justify-content: start;
        /* text-align: right; */
    }

    .menu a {
        font-size: 1rem;
        padding: 0.58rem;
        font-weight: bold;
    }

    .menu a:hover,
    .menu a.active {
        color: var(--second-color);
        background-color: var(--bronze-color);
        /* background-color: var(--main-color);
            .menu a.active */
    }

    .scroll-top-btn {
        right: initial;
        left: calc(4.25rem + 1vw);
    }
}

/* todo ******* video 101  ******** */

label {
    float: left; 
    clear: left;
    margin-left: 2rem;
    /* display: inline; */
    width: 8rem;
    background-color: var(--second-color);
    color: var(--main-color);
}

.contact-form {
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;

}

.contact-form > * {
    float: left;
    padding: 0.5rem;
    /* display: block; */
    margin: 2rem 0.5rem 0 0;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    /* float: left; */
    width: 50%; 
}

.contact-form input[type="submit"]{
    clear: left; 
    margin-left: 8.5rem; 
    width: 100px;
    cursor: pointer;
}

.contact-form textarea {
    /* float: left; */
    width: 50%; 
    resize: none; 
} 

.contact-form *::placeholder {
    color: var(--bronze-color);
}

.contact-form [required]:valid {
    border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
    border: thin solid var(--form-error-color);
}

.contact-form-error {
    margin-top: 1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #eee286;
    transition: all 800ms ease;
}

.contact-form-error.is-active {
    display: block;
    /* animacion normal 0s sin retardo y el efecto de animacion ease.. y both conservar los estilos cuando termine la animacion */
    animation:show-message 1s 1 normal 0s ease-out both;
}

@keyframes show-message {
    /* 1s 1 normal 0s ease-out both */
    0% {
        visibility: hidden ;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;  
    }
} 

.contact-form-loader {
    /* float: left;  */
    margin-top: -50px;
    
} 

.contact-form-legend,
.contact-form-response {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #1D64A6;
    /* background-color: #88a61d; */
}

.none {
    display: none;
} 

/* todo ******* final  ******** */

