/* 🔵 ======================================== 🔷
# 🔵  web: industriasvipe.com  🌐 vipescri.com  🔷
# 🔵  Empresa: Industrias de Software Vipescri  🔷
# 🔵  AUTORES: VILLALBA Raul Orlando y familia  🔷
#  🔵 ======================================== 🔷 
#️⃣ #idNombre esta es unica
⚪ .clase    esta se puede repetir
*/
/* * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
? apply a natural box layout model to all elements but allowing components to change */

html {
    box-sizing: border-box;
    /* <!-- onMouseOver="style.cursor='pointer'" --> */
    /*cursor: pointer; */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/* todo: ========================= */
h1 {
    background-color: darkslateblue;
    color: red;
    text-align: center;
    top: 0px;
    margin-bottom: 0;
    width: 100%;
    height: 45px;
    position: sticky;
}

.subtitulo {
    color:aquamarine;
    margin-right: 20px;
    text-align: right;
}

h2 {
    background-color: aqua;
    color: blue;
    text-align: center;
    height: 35px;
    padding-top: 5px;
    display: inline-block;
    width: 93%;
    margin-left: 7%;
    top: 44px;
    position: sticky;
    /* z-index: -10;  */
}

h2:hover {
    background-color: bisque;
    color: red;
    cursor: pointer;
}

h3 {
    background-color: rgb(34, 226, 44);
    color: blue;
    text-align: center;
    box-shadow: inset 0 0 10px #1D64A6;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.header { 
    background-color: olive;
    color: blue;
    font-size: 22px;
    text-align: center;
    /* margin-top: -30px; */
    width: 100%;
    height: 77px;
}

.sticky-top {
    position: sticky;
    top: 0;
}

.sticky-foto {
    position: sticky;
    top: 200px;
}

.imagen-principal {
    float: right; 
    position: sticky; 
    top: 80px; 
    margin: 200px 5px;
    z-index: 1;
}

.card {
    float: left;
}
.numero {
    text-align: right;
    color: red;
    /* width: 55px; */
    max-width: 101px;
} 

.opciones {
    margin-left: 20px; 
    background-color: bisque; 
    display:inline-block;
} 
    

/* todo: boton */
.boton a {
    /* margin-left: 10px; */
    font-size: 11px;
    text-decoration: none;
    padding: 3px 7px;
    /* arriba y abajo - hacia los lados 
	(para que tome el margin-top hay que agregarle la propiedad "display: inline-block") */
    display: inline-block;
    height: 44px;
    width: 44px;
    margin-left: 20px;
    /* background: #2A9FDE; */
    /* color: #fff; */
    border-radius: 5px;
    /*box-shadow : [horiz] [vertical] [radio de desenfoque] [opcional radio de difusión] [color] ;*/
    -moz-box-shadow: inset 0 0 10px #1D64A6;
    -webkit-box-shadow: inset 0 0 10px #1D64A6;
    box-shadow: inset 0 0 10px #1D64A6;
    /* z-index: 888; */
}

.otro-boton a  {
    clear: left; 
    margin-left: 20px; 
    /* background-color: rgb(228, 137, 151);  */
    display: inline-block; 
    padding: 20px; 
    border-radius: 50%; 
    box-shadow: inset 0 0 10px blue;
}

.ejercicio {
    float: left;
    background-image: url("../img/ico/07-Factura.ico");
    background-repeat: no-repeat;
    margin-left: 20px;
}

.regresa {
    float: left;
    
    /* arriba derecha abajo izquierda 
    ? margin: 0px 0px 0px 10px; */
    margin: 0px 0px 0px 0px;
}

.indice a {
    text-decoration: none;
    background-image: url("../img/png/regresa.png");
    /* background-image: repeating-conic-gradient(red 10%, yellow 20%); */
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 55px;
    height: 55px;
    /* margin-left: 20px; */
    margin: 0px 0px 0px 10px;
    border-radius: 25px;
    -moz-box-shadow: inset 0 0 10px #1D64A6;
    -webkit-box-shadow: inset 0 0 10px #1D64A6;
    box-shadow: inset 0 0 10px #218aa1;
    z-index: 30;
}

.indice::after {
    content: "regresa ✨ ";
}

/* ----------------------- */
.indices a {
    text-decoration: none;
    background-image: url("../img/png/regresa.png");
    /* background-image: repeating-conic-gradient(red 10%, yellow 20%); */
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 55px;
    height: 55px;
    /* margin: -50px 0px 0px 10px; */
    border-radius: 25px;
    box-shadow: inset 0 0 10px #7f1da6;
    margin-top: -20px;
    top: 44px;
    position: sticky;
}

.indices::after {
    content: "regresa ✨ ";
}
/* ----------------------- */
.consigna {
    margin-left: 20px;
    font-size: 24px;
}

.consigna::before {
    content: "🥁 consigna: ";
    font-size: 22px;
    color: red;
}

.resultados {
    background-color: brown;
    color: bisque;
    z-index: -1;
}

label {
    margin-left: 20px;
    background-color: #1D64A6;
    color: aqua;
    width: 141px;
    height: 22px;
    display: inline-block;
    padding: 3px 5px;
}

/* todo: Ventana modal */
.modal {
    background-image: url(../img/logoraul.jpg);
    width: 404px;
    height: 404px;
    padding: 15px 0 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.abre-modal {
    position: fixed;
    top: 15px;
    right: 10px;
}

.margin-ayuda {
    /* padding-top: 10px; */
    margin-top: 327px;
    margin-left: 3px;
}

.cerrar-modal {
    float: right;
    margin-right: 10px;
    margin-top: 303px;
}

.modal h3 {
    background-color: transparent;
    margin-top: -12px;
    width: 151px;
    text-align: center;
}

.margen-derecho {
    text-align: right;
    font-size: 22px;
    /* background-color: antiquewhite; */
}

.agrega-pesos li::after {
    content: "u$s";
}

.agrega-pesos li::before {
    content: "Factura N💫 ";
} 

.persona {
    background-color: blanchedalmond;
    color: brown;
}

.url-prueba {
    background-color: pink;
};

.tamano-caja {
    width: 300px;
}

.indice-principal li {
    clear: left;
    text-decoration: none;
    display: block;
    /* display: inline-block; */
    width: 575px;
    height: 33px;
    font-size: 22px;
    text-align: center;
    border-radius: 15px;
}

section input[type="text"] {
    width: 300px;
}

.indice-principal li:hover{
    margin-left: 50px;
    font-size: 22px;
    /* text-decoration: none; */
}

/*  pares = even */

li:nth-child(even) {
    /* color: yellow; */
    background-color: rgb(239, 239, 202);
}

/* impares = odd */
li:nth-child(odd) {
    background-color:rgb(170, 229, 242);
    color: blue;
} 

.tabla-orden {
    font-size: 24px;
}

li:hover {
    font-size: 22px;
    font-family:cursive;
    color: red;
    cursor: pointer;
}

.tabla-orden li:nth-child(even) {
    background-color: rgb(245, 209, 109);
}

.mi-indice li {
    display: inline-block;
    width: 150px;
}

.resultado {
    background-color: #f2f2f2;;
    color:coral; 
    font: 16px Verdana;
    margin-left: 20px;
    display: inline-block;
    padding: 2px 11px 2px 11px;
}

.zonaDatos {
    float: left;
    width: 99%;
    /*height:313px;*/
    margin-top: 1px;
    margin-left: 1px;
    background-color: aquamarine;
}

.zonaListado {
    float: left;
    width: 99%;
    /*height:313px;*/
    margin-top: 300px;
    margin-left: 1px;
    background-color: antiquewhite;
}